.header{
    display: flex;
  flex-direction: row;
  /* background: #BE93C5; 
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5); 
  background: linear-gradient(to right, #7BC6CC, #BE93C5); */
  background-color: rgb(156, 155, 155);
    height: 70px;
   width: 100%;
   padding:10px;
   /* position: static; */
}

#img{
    width: 75px;
    height:50px;
    margin-left: auto;
    margin-top: 0px;
    border-radius: 34%;
    cursor: pointer;
}